@*
    ViewData["Title"] = "Login";
*@

<style>
    .bg-primary {
        background-color: #1a52c6;
    }
</style>

<script type="text/javascript">

        function FormAjax() {
            if ($("#email").val() == "" || $("#password").val() == "") {
                alert("You leave email or password empty. Please fill in the blank to login!");
                return;
            }
            var rolenum = getRole();
            if (rolenum == 0) {
                alert("Your role is not defined yet. Please choose your role!");
                return;
            }
            else if (rolenum == 3) {
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: "/Login/userLogin",
                    data: { "userEmail": $("#email").val(), "userPassword": $("#password").val(), "userRole": rolenum },
                    success: function (data) {
                        var res = eval("(" + data + ")");
                        if (res.result == "success") {
                            createCookie("userEmail", $("#email").val());
                            createCookie("userPassword", $("#password").val());
                            createCookie("userRole", 3);
                            createCookie("username", res.message);
                            window.location.href = '@Url.Action("Doctor", "Home")';
                        }
                        else {
                            alert(res.message);
                            window.location.href = '@Url.Action("Login", "Login")';
                        }
                    },
                    error: function (xhr, ts, et) {
                        alert("Error");
                    }
                })
            }
            else if (rolenum == 2) {
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: "/Login/userLogin",
                    data: { "userEmail": $("#email").val(), "userPassword": $("#password").val(), "userRole": rolenum },
                    success: function (data) {
                        var res = eval("(" + data + ")");
                        if (res.result == "success") {
                            createCookie("userEmail", $("#email").val());
                            createCookie("userPassword", $("#password").val());
                            createCookie("userRole", 2);
                            createCookie("username", res.message);
                            window.location.href = '@Url.Action("GuardList", "Home")';
                        }
                        else {
                            alert(res.message);
                            window.location.href = '@Url.Action("Login", "Login")';
                        }
                    },
                    error: function (xhr, ts, et) {
                        alert("Error");
                    }
                })
            }
            else if (rolenum == 1) {
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: "/Login/userLogin",
                    data: { "userEmail": $("#email").val(), "userPassword": $("#password").val(), "userRole": rolenum },
                    success: function (data) {
                        var res = eval("(" + data + ")");
                        if (res.result == "success") {
                            createCookie("userEmail", $("#email").val());
                            createCookie("userPassword", $("#password").val());
                            createCookie("userRole", 1);
                            createCookie("username", res.message);
                            window.location.href = '@Url.Action("User", "Home")';
                        }
                        else {
                            alert(res.message);
                            window.location.href = '@Url.Action("Login", "Login")';
                        }
                    },
                    error: function (xhr, ts, et) {
                        alert("Error");
                    }
                })
            }
        };

        function getRole() {
            var rolenum = 0;
            if ($("#radio1").is(":checked")) {
                rolenum = 3;
            }
            else if ($("#radio2").is(":checked")) {
                rolenum = 2;
            }
            else if ($("#radio3").is(":checked")) {
                rolenum = 1;
            }
            else {
                return rolenum;
            }
            return rolenum;
    }

       function createCookie(name, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        }
        else {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
        }

</script>


<div class="bg-light col-xs-6 col-lg-6 col-md-6 col-sm-6 col-center-block offset-3">

    <form>
        <fieldset>
            <legend align="center" class="text-primary">Login</legend>

            <div class="form-group">
                <label> Email address: </label>
                <input id="email" class="form-control" type="email" name="Email" placeholder="Enter your email" />
            </div>

            <div class="form-group">
                <label> Password: </label>
                <input id="password" class="form-control" type="password" name="Password" placeholder="Enter Your Password" />
            </div>

            <div class="form-group form-check">
                <input type="radio" class="form-check-input" name="role" id="radio1">
                <label class="form-check-label" for="exampleCheck1">Doctor Login </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" class="form-check-input" name="role" id="radio2">
                <label class="form-check-label" for="exampleCheck1">Guard Login </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" class="form-check-input" name="role" id="radio3">
                <label class="form-check-label" for="exampleCheck1">User Login </label>
            </div>

            <input id="login" onClick="FormAjax();" type="button" value="Submit" class="btn btn-success">

        </fieldset>
    </form>
    <p>
        <br>
        No Account yet? <a class="text-primary" asp-area="" asp-controller="Login" asp-action="Signup">Sign up here</a>
    </p>
</div>
